<nav>
  <ul class="menu {% unless block.settings.separate_with_comma %}-mx-2{% endunless %} {{ link_classes }}  flex flex-wrap {{ block.settings.desktop_text_alignment }}">
    {%- comment %}<locksmith:68a2>{% endcomment -%}
      {%- assign locksmith_6238_forloop__size = 0 %}{%- for link in block.settings.menu.links -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: block.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_6238_forloop__size = locksmith_6238_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_6238_forloop__index = nil -%}
    {%- comment %}</locksmith:68a2>{% endcomment -%}
    {%- for link in block.settings.menu.links -%}
      {%- comment %}<locksmith:f7e3>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: block.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_6238_forloop__index == nil %}{% assign locksmith_6238_forloop__index = 1 %}{% assign locksmith_6238_forloop__index0 = 0 %}{% else %}{% assign locksmith_6238_forloop__index = locksmith_6238_forloop__index | plus: 1 %}{% assign locksmith_6238_forloop__index0 = locksmith_6238_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_6238_forloop__index == 1 %}{% assign locksmith_6238_forloop__first = true %}{% else %}{% assign locksmith_6238_forloop__first = false %}{% endif %}{% if locksmith_6238_forloop__index == locksmith_6238_forloop__size %}{% assign locksmith_6238_forloop__last = true %}{% else %}{% assign locksmith_6238_forloop__last = false %}{% endif %}{% assign locksmith_6238_forloop__rindex = locksmith_6238_forloop__size | minus: locksmith_6238_forloop__index | minus: 1 %}{% assign locksmith_6238_forloop__rindex0 = locksmith_6238_forloop__size | minus: locksmith_6238_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:f7e3>{% endcomment -%}
      {%- liquid
        assign sidebar_drawer_id = 'sidebar-drawer-' | append: block.id | handleize | append: '-' | append: locksmith_6238_forloop__index
      -%}
      <li class="menu-link {% unless block.settings.separate_with_comma %}px-2{% endunless %}">
        {%- if link.links.size > 0 -%}
          <div
            x-cloak
            x-data="
            {
              expanded: false
            }
          "
          >
          <button
            type="button"
            class="text-left hover:underline"
            @click="$store.modals.open('{{ sidebar_drawer_id }}');"
          >
            <div class="flex items-center">
              <span class="{% if link.child_active %}underline{% endif %}">{{ link.title }}</span>
              {%- if settings.accordion_icon != 'none' -%}
              <div class="ml-1 js-enabled flex items-center">
                <span
                  class="w-4 h-4 inline-block transition-transform ease-gentle duration-[280ms]"
                  x-cloak
                >
                 {%- if settings.accordion_icon == 'plus_minus' -%}
                 <span x-show="expanded">{% render 'icon-minus' %}</span>
                 <span x-show="!expanded">{% render 'icon-plus' %}</span>
                 {%- elsif settings.accordion_icon == 'caret' -%}
                 <span class="block rotate-180" x-show="expanded">{% render 'icon-chevron-down' %}</span>
                 <span x-show="!expanded">{% render 'icon-chevron-down' %}</span>
                 {%- endif -%}
                </span>
              </div>
              {%- endif -%}
            </div>
          </button>

          <div
            x-data
            x-init="
            initTeleport($root);
              $store.modals.register('{{ sidebar_drawer_id }}', 'leftDrawer');
              "
          >
              {% render 'sidebar-nav-desktop', sidebar_drawer_id: sidebar_drawer_id, link: link %}
          </div>

        </div>
        {%- else -%}
        <a href="{{ link.url }}" class="hover:underline {% if link.active %}underline{% endif %}">{{ link.title }}</a>
        {%- endif -%}
        {%- if block.settings.separate_with_comma -%}
          {%- liquid
            assign show_comma_on_last_item_in_loop = false
            if block.settings.show_cart and section.settings.use_icons == false
              assign show_comma_on_last_item_in_loop = true
            endif
          -%}
          {%- unless locksmith_6238_forloop__last and show_comma_on_last_item_in_loop == false -%}
          &#44;&nbsp;
          {%- endunless -%}
        {%- endif -%}
      </li>
    {%- endfor -%}
    {%- if block.settings.show_cart -%}
      <li class="menu-link {% unless block.settings.separate_with_comma %}px-2{% endunless %} {% if show_comma_on_last_item_in_loop == false %}ml-2{% endif %}">
        <button class="hover:underline"  @click.prevent="$store.modals.open('cart')">
          {{ cart_button_content }}
        </button>
      </li>
    {%- endif -%}
  </ul>
</nav>