{%- liquid
  assign sidebar_drawer_id = 'sidebar-product-measurement'
-%}
<button
  type="button"
  class="py-2 text-left hover:underline"
  @click="$store.modals.open('{{ sidebar_drawer_id }}');"
>
  Tap to show drawer
</button>

<div
  x-data
  x-init="
      initTeleport($root);
    $store.modals.register('{{ sidebar_drawer_id }}', 'leftDrawer');
  "
>
  <template data-should-teleport="#left-drawer-slot">
    <div
      x-show="$store.modals.leftDrawer.contents === '{{ sidebar_drawer_id }}'"
      class="sidebar-nav text-scheme-text menu-drawer text-menu-drawer max-h-full flex flex-col h-screen text-scale-n0 lg:text-scale-n0"
    >
      <div class="p-8 pb-2 lg:p-4 w-full shrink-0 overflow-hidden">
        <button @click.prevent="$store.modals.close('{{ sidebar_drawer_id }}')" class="block ml-auto top-0">
          <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
          <span class="inline-block w-4 h-4">{% render 'icon-close' %}</span>
        </button>
      </div>

      <div class="flex-auto flex flex-col overflow-hidden overflow-y-auto overflow-x-auto p-8 lg:p-4 pb-8">
        <div class="rte space-y-spacer">
          <h6>{{- block.settings.heading01 -}}</h6>
          <div id="csv-string-table-container-01">
            {% assign csv_string = block.settings.tablecontent01 %}
            {% if csv_string %}
              {% assign csv_rows = csv_string | newline_to_br | split: '<br />' %}
              <table class="w-full">
                <tbody>
                  {% for row in csv_rows %}
                    {% assign csv_cells = row | split: ',' %}
                    <tr>
                      {% for cell in csv_cells %}
                        <td>{{ cell }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No data found in CSV.</p>
            {% endif %}
          </div>
          <h6>{{- block.settings.heading02 -}}</h6>
          <div id="csv-string-table-container-02">
            {% assign csv_string = block.settings.tablecontent02 %}
            {% if csv_string %}
              {% assign csv_rows = csv_string | newline_to_br | split: '<br />' %}
              <table class="w-full">
                <tbody>
                  {% for row in csv_rows %}
                    {% assign csv_cells = row | split: ',' %}
                    <tr>
                      {% for cell in csv_cells %}
                        <td>{{ cell }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No data found in CSV.</p>
            {% endif %}
          </div>
          <h6>{{- block.settings.heading03 -}}</h6>
        </div>
      </div>
    </div>
  </template>
</div>
