{%- liquid
  assign sidebar_drawer_id = 'sidebar-product-measurement'
-%}
<button
  type="button"
  class="text-left hover:underline"
  @click="$store.modals.open('{{ sidebar_drawer_id }}');"
>
  Tap to show drawer
</button>

<div
  x-data
  x-init="
      initTeleport($root);
    $store.modals.register('{{ sidebar_drawer_id }}', 'leftDrawer');
  "
>
  <template data-should-teleport="#left-drawer-slot">
    <div
      x-show="$store.modals.leftDrawer.contents === '{{ sidebar_drawer_id }}'"
      class="sidebar-nav text-scheme-text menu-drawer text-menu-drawer max-h-full flex flex-col h-screen text-scale-n0 lg:text-scale-n0"
    >
      <div class="p-2 lg:p-4 w-full shrink-0 overflow-hidden">
        <button @click.prevent="$store.modals.close('{{ sidebar_drawer_id }}')" class="block ml-auto top-0">
          <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
          <span class="inline-block w-4 h-4">{% render 'icon-close' %}</span>
        </button>
      </div>

      <div class="flex-auto flex flex-col overflow-hidden overflow-y-auto overflow-x-auto p-2 lg:p-4 pb-8">
        <div class="space-y-spacer">
          <h3>{{- block.settings.heading -}}</h3>
          {{ block.settings.tablecontent }}
          {% comment %} Make code that reads csv and converts it into table {% endcomment %}
        </div>
      </div>
    </div>
  </template>
</div>
