<div class="mt-spacer" style="--spacing-adjust: {{ block.settings.space_above }};" {{ block.shopify_attributes }}>
  {% for i in (1..3) %}
    {% liquid
      if i > 1
        assign enable_setting = 'enable_' | append: i

        unless block.settings[enable_setting]
          continue
        endunless
      endif

      assign icon_setting = 'icon_' | append: i
      assign heading_setting = 'heading_' | append: i
      assign content_setting = 'content_' | append: i
      assign page_setting = 'page_' | append: i

      assign icon = block.settings[icon_setting]
      assign heading = block.settings[heading_setting]
      assign content = block.settings[content_setting]
      assign page  = block.settings[page_setting]

      if heading == blank
        continue
      endif
    %}
    <details
      class="py-2  {% if block.settings.show_borders %}border-t-theme border-scheme-border last:border-b-theme{% endif %}"
      x-data="{ open: false }"
      @toggle="open = $root.open"
    >
      <summary>
        <a class="cursor-pointer min-touch-target">
          <div class="text-base flex justify-between items-center">
            <h2 class="text-base flex items-center break-words gap-2">
              {%- if icon != 'none' -%}
              <span class="block w-4 h-4 shrink-0">
                {%- render 'content-icon', icon: icon -%}
              </span>
              {%- endif -%}
              {{- heading | default: page.title | escape | strip -}}
            </h2>
            <div class="ml-auto flex">
              <span
                class="w-4 h-4 inline-block transition-transform ease-gentle duration-[280ms]"
                x-cloak
              >
              {%- if settings.accordion_icon == 'plus_minus' -%}
              <span :class="{ 'hidden' : open === false }">{% render 'icon-minus' %}</span>
              <span :class="{ 'hidden' : open }" >{% render 'icon-plus' %}</span>
              {%- else -%}
              <span class="block rotate-180"  :class="{ 'hidden' : open === false }">{% render 'icon-chevron-down' %}</span>
              <span class="block" :class="{ 'hidden' : open }">{% render 'icon-chevron-down' %}</span>
              {%- endif -%}
              </span>
            </div>
          </div>
        </a>
      </summary>
      <div class="rte rte--compact my-4">
        {{ content }}
        {{ page.content }}
      </div>
    </details>
  {% endfor %}
</div>