{%- liquid
  assign sidebar_drawer_id = 'sidebar-product-measurement'
-%}
<button
  type="button"
  class="text-left hover:underline"
  @click="$store.modals.open('{{ sidebar_drawer_id }}');"
>
  Tap to show drawer
</button>

<div
  x-data
  x-init="
      initTeleport($root);
    $store.modals.register('{{ sidebar_drawer_id }}', 'leftDrawer');
  "
>
  <template data-should-teleport="#left-drawer-slot">
    <div
      x-show="$store.modals.leftDrawer.contents === '{{ sidebar_drawer_id }}'"
      class="sidebar-nav text-scheme-text menu-drawer text-menu-drawer max-h-full flex flex-col h-screen text-scale-n0 lg:text-scale-n0"
    >
      <div class="p-8 pb-2 lg:p-4 w-full shrink-0 overflow-hidden">
        <button @click.prevent="$store.modals.close('{{ sidebar_drawer_id }}')" class="block ml-auto top-0">
          <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
          <span class="inline-block w-4 h-4">{% render 'icon-close' %}</span>
        </button>
      </div>

      <div class="flex-auto flex flex-col overflow-hidden overflow-y-auto overflow-x-auto p-8 lg:p-4 pb-8">
        <div class="rte space-y-spacer">
          <h6>{{- block.settings.heading01 -}}</h6>
          <div id="csv-string-table-container"></div>
          <h6>{{- block.settings.heading02 -}}</h6>
          <h6>{{- block.settings.heading03 -}}</h6>
        </div>
      </div>
    </div>
  </template>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    // Check if PapaParse is loaded
    if (typeof Papa === 'undefined') {
      console.error('PapaParse is not loaded');
      return;
    }

    var csvString = {{ block.settings.tablecontent01 | json }};
    console.log('CSV String from metafield:', csvString);

    Papa.parse( csvString, {
      header: true,
      complete: function(results) {
        var data = results.data;
        var container = document.getElementById('csv-string-table-container');
        if (data.length) {
          var table = '<table class="w-full">';
          // Generate table headers
          table += '<thead><tr>';
          for (var header in data[0]) {
            table += '<th>' + header + '</th>';
          }
          table += '</tr></thead>';
          
          // Generate table rows
          table += '<tbody>';
          data.forEach(function(row) {
            table += '<tr>';
            for (var field in row) {
              table += '<td>' + row[field] + '</td>';
            }
            table += '</tr>';
          });
          table += '</tbody>';
          table += '</table>';
          
          container.innerHTML = table;
        } else {
          container.innerHTML = '<p>No data found in CSV.</p>';
        }
      }
    });
  });
</script>
