{%- liquid
  assign sidebar_drawer_id = 'sidebar-product-measurement'
-%}
<button
  type="button"
  class="text-left hover:underline"
  @click="$store.modals.open('{{ sidebar_drawer_id }}');"
>
  Tap to show drawer
</button>

<div
  x-data
  x-init="
      initTeleport($root);
    $store.modals.register('{{ sidebar_drawer_id }}', 'leftDrawer');
  "
>
  <template data-should-teleport="#left-drawer-slot">
    <div
      x-show="$store.modals.leftDrawer.contents === '{{ sidebar_drawer_id }}'"
      class="sidebar-nav text-scheme-text text-menu-drawer"
    >
      <div class="relative flex items-center justify-between p-2 mb-2">
        <h2 class="sr-only" tabindex="-1">
          {{ link.title }}
        </h2>
        <button @click.prevent="$store.modals.close('{{ sidebar_drawer_id }}')" class="block ml-auto top-0">
          <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
          <span class="inline-block w-4 h-4">{% render 'icon-close' %}</span>
        </button>
      </div>
    </div>
    <div>
      <h3>{{- block.settings.heading -}}</h3>
      {{ block.settings.tablecontent }}
    </div>
  </template>
</div>
