<section id="customer-register" class="section-container" data-color-scheme="primary">
  <div class="text-scheme-text bg-scheme-background py-section-vertical-spacing">
    <div class="wrapper">
      
      <div class="max-w-[16rem] mx-auto">
        
        <h1 class="font-heading text-heading-secondary text-center">
          {{ 'customer.activate_account.title' | t }}
        </h1>

        <p class="mt-4 text-center">
          {{ 'customer.activate_account.subtext' | t }}
        </p>

        {%- form 'activate_customer_password' -%}
          {%- if form.errors -%}
            <h2 class="form__message mt-8 text-scheme-acce t" tabindex="-1" autofocus>
              <span class="inline-block w-4 h-4 shrink-0">{%- render 'icon-error' -%}</span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul class="text-scheme-accent">
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
          
          <div class="mt-4 space-y-4">
            <div class="field">
              <label class="block"  for="password">
                {{ 'customer.activate_account.password' | t }}
              </label>
              <input
                type="password"
                class="block w-full border-scheme-text mt-2"
                name="customer[password]"
                id="password"
                autocomplete="new-password"
                placeholder="{{ 'customer.activate_account.password' | t }}"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password-error"
                {% endif %}
              >
              {%- if form.errors contains 'password' -%}
                <small id="password-error" class="form__message flex items-center mt-1 gap-1 text-scheme-accent">
                  <span class="inline-block w-4 h-4 shrink-0">{%- render 'icon-error' -%}</span>
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password }}
                </small>
              {%- endif -%}
            </div>
        
            <div class="field">
              <label class="block"  for="password_confirmation">
                {{ 'customer.activate_account.password_confirm' | t }}
              </label>
              <input
                type="password"
                class="block w-full border-scheme-text mt-2"
                name="customer[password_confirmation]"
                id="password_confirmation"
                autocomplete="new-password"
                placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password_confirmation-error"
                {% endif %}
              >
              {%- if form.errors contains 'password_confirmation' -%}
                <small id="password_confirmation-error" class="form__message flex items-center mt-1 gap-1 text-scheme-accent">
                  <span class="inline-block w-4 h-4 shrink-0">{%- render 'icon-error' -%}</span>
                  {{ form.errors.translated_fields.password_confirmation | capitalize }}
                  {{ form.errors.messages.password_confirmation }}
                </small>
              {%- endif -%}
            </div>
          </div>

          <div class="mt-8 text-center">
            <button class="btn btn--solid block w-full">
              {{ 'customer.activate_account.submit' | t }}
            </button>
      
            <button name="decline" class="inline-block mt-4 theme-link">
              {{ 'customer.activate_account.cancel' | t }}
            </button>
          </div>
        {%- endform -%}

      </div>

    </div>
  </div>  
</section>