{%- style -%}
.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}
{%- endstyle -%}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<section id="customer-register" class="addresses section-container" data-color-scheme="primary" data-customer-addresses>
  <div class="text-scheme-text bg-scheme-background py-section-vertical-spacing">
    <div class="wrapper">
      
      {%- paginate customer.addresses by 5 -%}
      <div class="max-w-[16rem] mx-auto">
        
        <div class="text-center">
          <h1 class="font-heading text-heading-standard text-center">
            {{ 'customer.addresses.title' | t }}
          </h1>
          
          <a class="theme-link inline-block mt-4" href="{{ routes.account_logout_url }}">
            {{ 'customer.log_out' | t }}
          </a>
        </div>

        <div data-address>
          <button
            class="btn btn--solid w-full mt-8"
            type="button"
            aria-expanded="false"
            aria-controls="AddAddress"
          >
            {{ 'customer.addresses.add_new' | t }}
          </button>
          <div id="AddAddress" class="mt-8">
            <h2 class="font-heading text-heading-secondary" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>

            {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
              <div class="mt-4 space-y-4">
                <div class="field">
                  <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressFirstNameNew"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressLastNameNew"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressCompanyNew"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressAddress1New"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressAddress2New"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressCityNew"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                  >
                </div>
                <div>
                  <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                  <div class="select relative">
                    <select
                      id="AddressCountryNew"
                      name="address[country]"
                      data-default="{{ form.country }}"
                      autocomplete="country"
                      class="block w-full border-scheme-text mt-2"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <span class="pointer-events-none w-4 h-4 inline-block absolute top-1/2 right-button-padding-x -translate-y-1/2">{% render 'icon-chevron-down' -%}</span>
                  </div>
                </div>
                <div id="AddressProvinceContainerNew" style="display: none">
                  <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                  <div class="select relative">
                    <select
                      id="AddressProvinceNew"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                      class="block w-full border-scheme-text mt-2"
                    ></select>
                    <span class="pointer-events-none w-4 h-4 inline-block absolute top-1/2 right-button-padding-x -translate-y-1/2">{% render 'icon-chevron-down' -%}</span>
                  </div>
                </div>
                <div class="field">
                  <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                  <input
                    type="text"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressZipNew"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                  <input
                    type="tel"
                    class="block w-full border-scheme-text mt-2"
                    id="AddressPhoneNew"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                  >
                </div>
              </div>
              <div class="mt-4">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
              </div>

              <div class="text-center mt-8">
                <button class="btn btn--solid w-full">{{ 'customer.addresses.add' | t }}</button>
                <button class="theme-link inline-block mt-4" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>

            {%- endform -%}
          </div>
        </div>

        <ul role="list" class="mt-8">
          {%- for address in customer.addresses -%}
            <li data-address>
              {%- if address == customer.default_address -%}
                <h2 class="font-heading text-heading-secondary">{{ 'customer.addresses.default' | t }}</h2>
              {%- endif -%}

                <div class="py-2">
                {{ address | format_address }}
                </div>

                <button
                  class="btn"
                  type="button"
                  id="EditFormButton_{{ address.id }}"
                  aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                  aria-controls="EditAddress_{{ address.id }}"
                  aria-expanded="false"
                  data-address-id="{{ address.id }}"
                >
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button
                  class="btn"
                  type="button"
                  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                >
                  {{ 'customer.addresses.delete' | t }}
                </button>
              
              <div id="EditAddress_{{ address.id }}" class="mt-8">
                <h2 class="font-heading text-heading-secondary" >{{ 'customer.addresses.edit_address' | t }}</h2>
                {%- form 'customer_address', address -%}
                  <div class="mt-4 space-y-4">
                    <div class="field">
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressFirstName_{{ form.id }}"
                        name="address[first_name]"
                        value="{{ form.first_name }}"
                        autocomplete="given-name"
                        placeholder="{{ 'customer.addresses.first_name' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressLastName_{{ form.id }}"
                        name="address[last_name]"
                        value="{{ form.last_name }}"
                        autocomplete="family-name"
                        placeholder="{{ 'customer.addresses.last_name' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressCompany_{{ form.id }}"
                        name="address[company]"
                        value="{{ form.company }}"
                        autocomplete="organization"
                        placeholder="{{ 'customer.addresses.company' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressAddress1_{{ form.id }}"
                        name="address[address1]"
                        value="{{ form.address1 }}"
                        autocomplete="address-line1"
                        placeholder="{{ 'customer.addresses.address1' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressAddress2_{{ form.id }}"
                        name="address[address2]"
                        value="{{ form.address2 }}"
                        autocomplete="address-line2"
                        placeholder="{{ 'customer.addresses.address2' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                      <input
                        type="text"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressCity_{{ form.id }}"
                        name="address[city]"
                        value="{{ form.city }}"
                        autocomplete="address-level2"
                        placeholder="{{ 'customer.addresses.city' | t }}"
                      >
                    </div>
                    <div>
                      <label for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                      <div class="select relative">
                        <select
                          id="AddressCountry_{{ form.id }}"
                          class="block w-full border-scheme-text mt-2"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          data-form-id="{{ form.id }}"
                          autocomplete="country"
                        >
                          {{ all_country_option_tags }}
                        </select>
                        <span class="pointer-events-none w-4 h-4 inline-block absolute top-1/2 right-button-padding-x -translate-y-1/2">{% render 'icon-chevron-down' -%}</span>
                      </div>
                    </div>
                    <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                      <label for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <div class="select relative">
                        <select
                          class="block w-full border-scheme-text mt-2"
                          id="AddressProvince_{{ form.id }}"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                        ></select>
                        <span class="pointer-events-none w-4 h-4 inline-block absolute top-1/2 right-button-padding-x -translate-y-1/2">{% render 'icon-chevron-down' -%}</span>
                      </div>
                    </div>
                    <div class="field">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                      <input
                        class="block w-full border-scheme-text mt-2"
                        type="text"
                        id="AddressZip_{{ form.id }}"
                        name="address[zip]"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        autocomplete="postal-code"
                        placeholder="{{ 'customer.addresses.zip' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                      <input
                        type="tel"
                        class="block w-full border-scheme-text mt-2"
                        id="AddressPhone_{{ form.id }}"
                        name="address[phone]"
                        value="{{ form.phone }}"
                        autocomplete="tel"
                        placeholder="{{ 'customer.addresses.phone' | t }}"
                      >
                    </div>
                  </div>

                  <div class="mt-4">
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{ form.id }}">
                      {{ 'customer.addresses.set_default' | t }}
                    </label>
                  </div>

                  <div class="text-center mt-8">
                    <button class="btn btn--solid w-full">{{ 'customer.addresses.update' | t }}</button>
                    <button class="theme-link inline-block mt-4" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                  </div>
                {%- endform -%}
              </div>
            </li>
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}

      </div>
      {%- endpaginate -%}

    </div>
  </div>  
</section>

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>