{%- comment %}<locksmith:3856>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:3856>{% endcomment -%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {{ locksmith_initializations }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      {%- comment %}<locksmith:dac3>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
        {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
      {%- comment %}</locksmith:dac3>{% endcomment -%}
    {% endif %}

    {{ content_for_header }}

    {%- liquid
      render 'meta-tags'
      render 'js-bridge'
    -%}

    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script
      src="{{ 'polyfills-inert.bundle.min.js' | asset_url }}"
      type="module"
    ></script>
    <script
      src="{{ 'global.bundle.min.js' | asset_url }}"
      type="module"
    ></script>
    <script
      src="{{ 'quantity-stepper.js' | asset_url }}"
      type="module"
    ></script>
    {% if settings.quantity_style == 'dropdown' %}
      <script
        src="{{ 'quantity-dropdown.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}

    {% if template == 'cart' or settings.cart_type == 'drawer' %}
      <script src="{{ 'cart-items.js' | asset_url }}" type="module"></script>
      <script src="{{ 'cart-footer.js' | asset_url }}" type="module"></script>
      {% if settings.cart_notes_enable %}
        <script src="{{ 'cart-note.js' | asset_url }}" type="module"></script>
      {% endif %}
    {% endif %}

    {% if request.design_mode %}
      <script src="{{ 'cart-count.js' | asset_url }}" type="module"></script>
      <script
        src="{{ 'modules-masonry.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'modules-slideshow-gallery.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script src="{{ 'tile.js' | asset_url }}" type="module"></script>
      <script src="{{ 'follow-mouse.js' | asset_url }}" type="module"></script>
      <script
        src="{{ 'label-overlay-on-hover.js' | asset_url }}"
        type="module"
      ></script>
      {% if settings.predictive_search_enabled %}
        <script
          src="{{ 'predictive-search.js' | asset_url }}"
          type="module"
        ></script>
      {% endif %}
      <script
        src="{{ 'theme-editor-support.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'sections-promo-popup.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'vendor-product.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script src="{{ 'product.js' | asset_url }}"  type="module"></script>

      
      <script src="{{ 'video.js' | asset_url }}" type="module"></script>
      <script
        src="{{ 'vendor-store-availability.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'store-availability.js' | asset_url }}"
        type="module"
      ></script>
      <script src="{{ 'product-model.js' | asset_url }}" type="module"></script>
      <script
        src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'modules-carousel.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
      <script
        src="{{ 'product-media-gallery.js' | asset_url }}"
        type="module"
      ></script>
      <script src="{{ 'zoom.js' | asset_url }}" type="module"></script>
      <script src="{{ 'video.js' | asset_url }}" type="module"></script>
      <script src="{{ 'html5-video.js' | asset_url }}" type="module"></script>
      <script src="{{ 'rte.js' | asset_url }}" type="module"></script>
      <script
        src="{{ 'gift-card-recipient.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}

    {% if settings.cart_type == 'drawer' %}
      <script
        src="{{ 'vendor-cart.bundle.min.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}

    {% if template contains 'customers' %}
      {% comment %}theme-check-disable ParserBlockingScriptTag{% endcomment %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {% comment %}theme-check-enable ParserBlockingScriptTag{% endcomment %}
    {% endif %}

    <script>
      window.onYouTubeIframeAPIReady = () => {
        document.body.dispatchEvent(new CustomEvent('youtubeiframeapiready'));
      };
    </script>

    {%- render 'css-bridge' -%}

    {{ 'base.bundle.css' | asset_url | stylesheet_tag }}
    {{ 'ph-exhibit.css' | asset_url | stylesheet_tag }}
      
    
    {% render 'gp-head' %}
  </head>

  <body>
    {%- if settings.enable_sidebar -%}
      {%- if settings.sidebar_desktop_layout == 'screen_height' -%}
        <div id="mainGridWrapper" class="main-site-grid">
          <div
            class="main-site-grid--sidebar text-scheme-text bg-scheme-background hide-scrollbars"
            data-color-scheme="{{ settings.sidebar_color_scheme | default: 'primary' }}"
          >
            {%- sections 'aside-group' -%}
          </div>
          <div class="main-site-grid--container relative">
            {%- sections 'header-group' -%}
            {%- if template == 'index' -%}
              <div id="heroGroupWrapper">
                {%- sections 'hero-group' -%}
                <script type="module">
                  document.documentElement.style.setProperty(
                    '--hero-height',
                    `${document.getElementById('heroGroupWrapper').offsetHeight}px`
                  );
                </script>
              </div>
            {%- endif %}
            <main id="MainContent" role="main" tabindex="-1">
              <div>
                {{ content_for_layout }}
              </div>
            </main>
            {%- sections 'footer-group' -%}
          </div>
        </div>
      {%- else -%}
        {%- comment -%}
          Sidebar under header and hero
        {%- endcomment -%}
        {%- sections 'header-group' -%}
        {%- if template == 'index' -%}
          <div id="heroGroupWrapper">
            {%- sections 'hero-group' -%}
          </div>
        {%- endif %}
        <div id="mainGridWrapper" class="main-site-grid">
          <div class="main-site-grid--sidebar hidden lg:block hide-scrollbars">
            {%- sections 'aside-group' -%}
          </div>
          <main
            id="MainContent"
            class="main-site-grid--container max-lg:max-w-screen"
            role="main"
            tabindex="-1"
          >
            <div>
              {{ content_for_layout }}
            </div>
          </main>
        </div>
        {%- sections 'footer-group' -%}
      {%- endif -%}
    {%- else -%}
      {%- sections 'header-group' -%}
      {%- if template == 'index' -%}
        <div id="heroGroupWrapper">
          {%- sections 'hero-group' -%}
        </div>
      {%- endif %}
      <main
        id="MainContent"
        class="main-site-grid--container"
        role="main"
        tabindex="-1"
      >
        <div>
          {{ content_for_layout }}
        </div>
      </main>
      {%- sections 'footer-group' -%}
    {%- endif -%}

    {%- sections 'overlay-group' -%}

    <div
      id="screenreader-announce"
      class="sr-only"
      aria-live="polite"
      role="status"
    ></div>

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {{ 'general.accessibility.refresh_page' | t }}
      </li>
      <li id="a11y-selection-message">
        {{ 'general.accessibility.selection_help' | t }}
      </li>
    </ul>

    {% comment %}
        Modal container
      {%- sections 'overlay-group' -%}
    {% endcomment %}
    {% liquid
      render 'left-drawer'
      render 'right-drawer'
      render 'quick-view-drawer'
      render 'popup'
      render 'modal'
      render 'promo'
      render 'product-quick-view'
      render 'button-sizer'
    %}

    <script src="{{ 'modals.js' | asset_url }}" type="module"></script>

    {% if settings.cart_type == 'drawer' and template != 'cart' %}
      {% render 'cart-drawer' %}
    {% endif %}

    <script
      src="{{ 'alpine.bundle.min.js' | asset_url }}"
      type="module"
    ></script>

    <script
      src="{{ 'load-images.js' | asset_url }}"
      type="module"
    ></script>
  </body>
</html>
