{%- liquid
  paginate blog.articles by section.settings.max_posts
  capture grid_items
    case section.settings.grid_type
      when 'standard'
        render 'grid-standard', articles: blog.articles, content_source: 'articles'
      when 'masonry'
        render 'grid-masonry', articles: blog.articles, content_source: 'articles'
      when 'justified'
        render 'grid-justified', articles: blog.articles, content_source: 'articles'
      when 'modular'
        render 'grid-modular', articles: blog.articles, content_source: 'articles'
      when 'irregular'
        render 'grid-irregular', articles: blog.articles, content_source: 'articles'
    endcase
  endcapture
  if paginate.pages > 1
    assign has_pagination = true
    capture pagination
      render 'pagination', paginate: paginate
    endcapture
  endif
  endpaginate
-%}

<section
  id="section-{{ section.id }}"
  x-data="{ labelContent: '', focusVisible: false }"
  class="section-container"
  data-color-scheme="{{ section.settings.color_scheme }}"
  style="--section-grid-cols-mobile: {{ section.settings.mobile_columns }}; --section-grid-cols-desktop: {{ section.settings.desktop_columns }}; --top-spacing-adjust: {{ section.settings.space_above }}; --bottom-spacing-adjust: {{ section.settings.space_below }};"
>
  <div class="text-scheme-text bg-scheme-background pt-top-section-vertical-spacing pb-bottom-section-vertical-spacing">
    
    <div class="wrapper mb-half-section-vertical-spacing overflow-hidden">
      <h1 class="font-heading text-heading-feature break-words">
        {{ blog.title | escape }}
      </h1>

      {%- if section.settings.enable_tags_navigation and blog.all_tags.size > 0 -%}
      <aside class="relative -mx-4 px-4 mt-4">
        <div class="bg-gradient-to-l from-scheme-background w-20 absolute top-0 right-0 bottom-0 lg:hidden pointer-events-none"></div>
        <nav class="overflow-x-auto">
          <ul class="flex lg:flex-wrap items-center justify-start w-full -mx-2  whitespace-nowrap overflow-auto">
            <li class="p-2">
              <a {% unless current_tags %}aria-current="page"{% endunless %} class="hover:underline break-words {% unless current_tags %}underline{% endunless %}" href="{{ blog.url }}">
                {{ 'blogs.sidebar.all_tags' | t }}
              </a>
            </li>
            {% for tag in blog.all_tags %}
             {% if current_tags contains tag %}
                <li class="p-2">
                  <a aria-current="page" class="underline  break-words" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                </li>
              {% else %}
                <li class="p-2">
                  <a class="hover:underline break-words" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </aside>
      {%- endif -%}
      
    </div>

    {{ grid_items }}

    {%- if has_pagination -%}
    <div class="wrapper">
    {{ pagination }}
    </div>
    {%- endif -%}

  </div>

  
</section>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "max_posts",
      "min": 2,
      "max": 20,
      "step": 1,
      "label": "Maximum number of posts per page",
      "default": 12
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "grid_type",
      "label": "Grid type",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "masonry",
          "label": "Masonry"
        },
        {
          "value": "justified",
          "label": "Justified"
        },
        {
          "value": "modular",
          "label": "Modular"
        },
        {
          "value": "irregular",
          "label": "Irregular"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "Mobile columns",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Number of columns on desktop",
      "default": 5,
      "info": "This setting does not apply if grid type is set to 'Modular' or 'Irregular'."
    },
    {
      "type": "header",
      "content": "Standard"
    },
    {
      "type": "select",
      "id": "standard_layout_align_items",
      "label": "Alignment of items",
      "options": [
        {
          "value": "items-start",
          "label": "Top"
        },
        {
          "value": "items-baseline",
          "label": "Baseline"
        },
        {
          "value": "items-center",
          "label": "Center"
        },
        {
          "value": "items-end",
          "label": "Bottom"
        }
      ],
      "default": "items-start"
    },
    {
      "type": "header",
      "content": "Modular"
    },
    {
      "type": "range",
      "id": "modular_layout_variation",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Layout variation",
      "default": 1
    },
    {
      "type": "range",
      "id": "modular_grid_item_aspect_ratio",
      "min": 0.5,
      "max": 1.8,
      "step": 0.1,
      "unit": ":1",
      "label": "Grid base aspect ratio",
      "default": 1,
      "info": "Wide to tall"
    },
    {
      "type": "checkbox",
      "id": "modular_no_crop_media_mobile",
      "label": "Do not crop media on mobile"
    },
    {
      "type": "header",
      "content": "Irregular"
    },
    {
      "type": "range",
      "id": "irregular_layout_variation",
      "min": 1,
      "max": 15,
      "step": 1,
      "label": "Layout variation",
      "default": 1
    },
    {
      "type": "select",
      "id": "irregular_alignment_of_items",
      "label": "Alignment of items",
      "options": [
        {
          "value": "items-top justify-start",
          "label": "Top left"
        },
        {
          "value": "items-top justify-center",
          "label": "Top center"
        },
        {
          "value": "items-top justify-end",
          "label": "Top right"
        },
        {
          "value": "items-top justify-between",
          "label": "Top justified"
        },
        {
          "value": "items-center justify-start",
          "label": "Center left"
        },
        {
          "value": "items-center justify-center",
          "label": "Center"
        },
        {
          "value": "items-center justify-end",
          "label": "Center right"
        },
        {
          "value": "items-center justify-between",
          "label": "Center justified"
        },
        {
          "value": "items-end justify-start",
          "label": "Bottom left"
        },
        {
          "value": "items-end justify-center",
          "label": "Bottom center"
        },
        {
          "value": "items-end justify-end",
          "label": "Bottom right"
        },
        {
          "value": "items-end justify-between",
          "label": "Bottom justified"
        }
      ],
      "default": "items-center justify-center"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "These settings only apply if grid type is set to 'Standard' or 'Irregular'."
    },
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "1",
          "label": "Square (1:1)"
        },
        {
          "value": "1.333",
          "label": "Landscape (4:3)"
        },
        {
          "value": "0.6667",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.778",
          "label": "Widescreen (16:9)"
        }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "media_fill_space",
      "label": "Maximize size",
      "default": false,
      "info": "No effect when aspect ratio is set to 'Natural'."
    },
    {
      "type": "header",
      "content": "Tags"
    },
    {
      "type": "checkbox",
      "id": "enable_tags_navigation",
      "label": "Enable tags navigation",
      "default": true
    },
    {
      "type": "header",
      "content": "Labels"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": false
    },
    {
      "type": "radio",
      "id": "title_font",
      "label": "Title font",
      "options": [
        {
          "value": "font-main",
          "label": "Body"
        },
        {
          "value": "font-heading text-heading-secondary",
          "label": "Heading"
        }
      ],
      "default": "font-main"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_above",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Above",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_below",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Below",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "disable_left_and_right_margins",
      "label": "Disable left and right margins",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_grid_gaps",
      "label": "Remove grid gaps",
      "default": false
    }
  ]
}
{% endschema %}
