{%- liquid
  assign section_color = section.settings.color_scheme
  assign text_align = section.settings.text_alignment
-%}

<section class="section-container" data-color-scheme="{{ section_color }}" style="--top-spacing-adjust: {{ section.settings.space_above }}; --bottom-spacing-adjust: {{ section.settings.space_below }};">
  <div class="text-scheme-text bg-scheme-background pt-top-section-vertical-spacing pb-bottom-section-vertical-spacing">
    <div class="wrapper">
      {%- if section.settings.show_top_border -%}
      <hr class="border-t-theme border-scheme-border mb-half-section-vertical-spacing">
      {%- endif -%}
  
      <div class="grid lg:grid-cols-12 gap-theme">
  
        <div class="lg:col-span-section-title min-w-0">
          <h1 class="font-heading text-heading-feature break-words">{{ page.title }}</h1>
        </div>
  
        <div class="col-span-full lg:col-end-[-1] lg:col-span-section-content flex min-w-0 {{ text_align }}">
          <div class="rte w-full">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_above",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Above",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_below",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Below",
      "default": 1
    }
  ]
}
{% endschema %}
