
{%- liquid
  if section.settings.collection_list != blank 
    assign collections = section.settings.collection_list
  endif
-%}

<section
  id="section-{{ section.id }}"
  x-data="{ labelContent: '', focusVisible: false }"
  class="section-container"
  data-color-scheme="{{ section.settings.color_scheme }}"
  style="--section-grid-cols-mobile: {{ section.settings.mobile_columns }}; --section-grid-cols-desktop: {{ section.settings.desktop_columns }}; --top-spacing-adjust: {{ section.settings.space_above }}; --bottom-spacing-adjust: {{ section.settings.space_below }};"
>
  <div class="text-scheme-text bg-scheme-background pt-top-section-vertical-spacing pb-bottom-section-vertical-spacing">
    
    {%- liquid
      case section.settings.grid_type
        when 'standard'
          render 'grid-standard', collections: collections, content_source: 'collection_list'
        when 'masonry'
          render 'grid-masonry', collections: collections, content_source: 'collection_list'
        when 'justified'
          render 'grid-justified', collections: collections, content_source: 'collection_list'
        when 'modular'
          render 'grid-modular', collections: collections, content_source: 'collection_list'
        when 'irregular'
          render 'grid-irregular', collections: collections, content_source: 'collection_list'
      endcase
    -%}
  </div>

  {%- liquid
    if section.settings.labels_display == 'text_overlay_on_hover' or section.settings.labels_display == 'follow_mouse_on_hover'
      render 'overlay-labels' with  section.settings.labels_display as labels_display
    endif
  -%}
</section>

{% schema %}
{
  "name": "Collections",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Selected collections"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "grid_type",
      "label": "Grid type",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "masonry",
          "label": "Masonry"
        },
        {
          "value": "justified",
          "label": "Justified"
        },
        {
          "value": "modular",
          "label": "Modular"
        },
        {
          "value": "irregular",
          "label": "Irregular"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "Mobile columns",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Number of columns on desktop",
      "default": 5,
      "info": "This setting does not apply if grid type is set to 'Modular' or 'Irregular'."
    },
    {
      "type": "header",
      "content": "Standard"
    },
    {
      "type": "select",
      "id": "standard_layout_align_items",
      "label": "Alignment of items",
      "options": [
        {
          "value": "items-start",
          "label": "Top"
        },
        {
          "value": "items-baseline",
          "label": "Baseline"
        },
        {
          "value": "items-center",
          "label": "Center"
        },
        {
          "value": "items-end",
          "label": "Bottom"
        }
      ],
      "default": "items-start"
    },
    {
      "type": "header",
      "content": "Modular"
    },
    {
      "type": "range",
      "id": "modular_layout_variation",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Layout variation",
      "default": 1
    },
    {
      "type": "range",
      "id": "modular_grid_item_aspect_ratio",
      "min": 0.5,
      "max": 1.8,
      "step": 0.1,
      "unit": ":1",
      "label": "Grid base aspect ratio",
      "default": 1,
      "info": "Wide to tall"
    },
    {
      "type": "checkbox",
      "id": "modular_no_crop_media_mobile",
      "label": "Do not crop media on mobile"
    },
    {
      "type": "header",
      "content": "Irregular"
    },
    {
      "type": "range",
      "id": "irregular_layout_variation",
      "min": 1,
      "max": 15,
      "step": 1,
      "label": "Layout variation",
      "default": 1
    },
    {
      "type": "select",
      "id": "irregular_alignment_of_items",
      "label": "Alignment of items",
      "options": [
        {
          "value": "items-top justify-start",
          "label": "Top left"
        },
        {
          "value": "items-top justify-center",
          "label": "Top center"
        },
        {
          "value": "items-top justify-end",
          "label": "Top right"
        },
        {
          "value": "items-top justify-between",
          "label": "Top justified"
        },
        {
          "value": "items-center justify-start",
          "label": "Center left"
        },
        {
          "value": "items-center justify-center",
          "label": "Center"
        },
        {
          "value": "items-center justify-end",
          "label": "Center right"
        },
        {
          "value": "items-center justify-between",
          "label": "Center justified"
        },
        {
          "value": "items-end justify-start",
          "label": "Bottom left"
        },
        {
          "value": "items-end justify-center",
          "label": "Bottom center"
        },
        {
          "value": "items-end justify-end",
          "label": "Bottom right"
        },
        {
          "value": "items-end justify-between",
          "label": "Bottom justified"
        }
      ],
      "default": "items-center justify-center"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "These settings only apply if grid type is set to 'Standard' or 'Irregular'."
    },
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "1",
          "label": "Square (1:1)"
        },
        {
          "value": "1.333",
          "label": "Landscape (4:3)"
        },
        {
          "value": "0.6667",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.778",
          "label": "Widescreen (16:9)"
        }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "media_fill_space",
      "label": "Maximize size",
      "default": false,
      "info": "No effect when aspect ratio is set to 'Natural'."
    },
    {
      "type": "header",
      "content": "Labels"
    },
    {
      "type": "checkbox",
      "id": "labels_show_titles_and_captions",
      "label": "Show collection titles",
      "default": true
    },
    {
      "type": "select",
      "id": "labels_display",
      "label": "Display",
      "options": [
        {
          "value": "below_media",
          "label": "Below media"
        },
        {
          "value": "text_overlay_on_hover",
          "label": "Text overlay on hover"
        },
        {
          "value": "follow_mouse_on_hover",
          "label": "Follow mouse on hover"
        }
      ],
      "default": "below_media",
      "info": "Customise overlay labels in [theme settings](/editor?context=theme&category=overlay+labels)."
    },
    {
      "type": "checkbox",
      "id": "labels_always_show_on_mobile",
      "label": "Always show labels on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_above",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Above",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_below",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Below",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "disable_left_and_right_margins",
      "label": "Disable left and right margins",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_grid_gaps",
      "label": "Remove grid gaps",
      "default": false
    }
  ]
}
{% endschema %}