{%- liquid
  assign section_color = section.settings.color_scheme
-%}

<section
  id="{{ section.id }}"
  class="text-scheme-text bg-scheme-background relative min-h-screen"
  data-color-scheme="{{ section_color }}"
  x-data
  x-init="
    initTeleport($root);
    $store.modals.register('password', 'modal');
  "
>
  <div class="fixed top-4 right-4 z-10">
    <button
      class="block w-5 h-5"
      @click="$store.modals.open('password')"
    >
      <span class="sr-only">{{ 'general.password_page.password_link' | t }}</span>
      {%- render 'icon-lock' -%}
    </button>
  </div>


  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'image' -%}
        {%- unless block.settings.image_mobile == blank and block.settings.image == blank -%}
        {%- liquid
          assign image_class = 'absolute inset-0 object-cover w-full h-full'
          if block.settings.image_mobile != blank
            assign image_class = image_class | append: ' hidden lg:block'
            assign mobile_class = 'absolute inset-0 object-cover w-full h-full lg:hidden'
          endif
        -%}
        {%- if block.settings.image_mobile -%}
          {{ block.settings.image_mobile | image_url: width: 1000 | image_tag: class: mobile_class, loading: 'lazy' }}
        {%- endif -%}
        {{ block.settings.image | image_url: width: 2000 | image_tag: class: image_class, loading: 'lazy' }}
        {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'absolute inset-0 object-cover w-full h-full tile-placeholder-svg bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current' }}
        {%- endunless -%}
      {%- when 'video' -%}
        {%- if block.settings.video != blank -%}
        {{
          block.settings.video
          | video_tag:
            autoplay: true,
            image_size: '2048x',
            loop: true,
            controls: false,
            preload: 'none',
            class: ' absolute inset-0 w-full h-full object-cover',
            muted: true,
            id: section.id
        }}
        {%- else -%}
        <video autoplay muted class="w-full h-full absolute inset-0 object-cover">
          <source src="{{ 'placeholder-video.mp4' | asset_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {%- endif -%}
      {%- when 'color_overlay' -%}
        {%- if block.settings.enable_custom_color -%}
          {% style %}
          #ColorOverlay-{{ block.id }} {
            background-color: {{ block.settings.custom_overlay_color }};
          }
          {% endstyle %}
        {%- endif -%}
        <div id="ColorOverlay-{{ block.id }}" class="absolute inset-0 w-full h-full {{ block.settings.overlay_color }}"  data-color-scheme="{{ block.settings.color_scheme }}" style="opacity: {{ block.settings.opacity }}%; mix-blend-mode: {{ block.settings.blend_mode }};">
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="overflow-hidden content inset-0 absolute w-full h-full  {{ section.settings.text_color }} {{ section.settings.text_align }}" data-color-scheme="{{ section.settings.color_scheme }}">
    <div class="p-wrapper-left-and-right-margin h-full w-full">
      <div class="h-full w-full flex justify-center items-center">
        <div class="overlay-content text-center">

            {% if section.settings.logo != blank %}
              {% liquid
                assign logo = section.settings.logo
                assign logo_max_width = section.settings.logo_max_width
                assign logo_max_width_2x = section.settings.logo_max_width | times: 2
              %}
              {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
              {% style %}
                #{{ section.id }} {
                  --password-logo-max-width: {{ logo_max_width }}px;
                }
              {% endstyle %}
              <h1 class="break-words">
                <div class="max-w-[var(--password-logo-max-width)] mx-auto">
                  <img
                    src="{{ logo | image_url: width: logo_max_width }}"
                    class="w-full"
                    loading="eager"
                    srcset="{{ logo | image_url: width: logo_max_width }} 1x, {{ logo | image_url: width: logo_max_width_2x }} 2x"
                    alt="{{ logo.alt | default: shop.name }}"
                    sizes="{{ logo_max_width }}px"
                    width="{{ logo.width }}"
                    height="{{ logo.height }}"
                  />
                </div>
              </h1>
            {% else %}
              <h1 class="font-heading text-heading-feature">
                {{ shop.name }}
              </h1>
            {% endif %}

            <h2 class="font-heading text-heading-standard break-words mt-8">
              {{ section.settings.title | escape | strip }}
            </h2>

            {% comment %}
              Password message from store preferences
            {% endcomment %}

              {% unless shop.password_message == blank %}
                <div class="rte text-base mt-5 break-words">
                  {{ shop.password_message }}
                </div>
              {% endunless %}

            {% if section.settings.newsletter_enable %}
              {% if section.settings.newsletter_form_heading != blank %}
                <h2 class="font-heading text-heading-secondary break-words mt-8">
                  {{ section.settings.newsletter_form_heading }}
                </h2>
              {% endif %}
              <div class="mt-8">
              {% assign form_id = 'customer-form-' | append: section.id %}
              {% form 'customer', id: form_id %}
                {% if form.posted_successfully? %}
                  <p class="mb-1 text-scheme-success" id="Newsletter-success--{{ section.id }}">
                    {{ 'general.newsletter_form.confirmation' | t }}
                  </p>
                {% endif %}
                {% if form.errors %}
                  <p class="mb-1 text-scheme-error" id="Newsletter-error--{{ section.id }}">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </p>
                {% endif %}
                  <div class="input-group justify-center items-center gap-1">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <label for="NewsletterForm-{{ section.id }}" class="sr-only">
                      {{ 'general.newsletter_form.newsletter_email' | t }}
                    </label>
                    <input
                      id="NewsletterForm-{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="input-group-field bg-transparent border text-scheme-text {% if form.errors %} border-scheme-error {% else %} border-scheme-text {% endif %}"
                      value="{{ form.email }}"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                      required
                    >
                    <div class="input-group-button">
                      <button type="submit" class="btn" name="commit" id="Subscribe-{{ section.id }}">{{ 'general.newsletter_form.submit' | t }}</button>
                    </div>
                  </div>
              {% endform %}
              </div>
            {%- endif -%}

            {% if section.settings.show_share_buttons %}
              <div class="mt-8">
                {% render 'social-share' %}
              </div>
            {% endif %}

            <div class="text-sm mt-8">
              {{ powered_by_link }}
            </div>


        </div>
    </div>
  </div>

  <div x-cloak>
    <template data-should-teleport="#modal-slot">
      <div x-show="$store.modals.modal.contents === 'password'">
        <div :data-modal-label="$store.modals.modal.contents === 'password' ? '{{ 'general.password_page.login_form_heading' | t }}' : null" class="w-full h-full min-h-screen flex">
          <button @click.prevent="$store.modals.close('password')" class="block ml-auto fixed top-4 right-4">
            <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
            <span class="inline-block w-5 h-5">{%- render 'icon-close' -%}</span>
          </button>
          <div class="my-auto max-w-site mx-auto min-w-[40%] px-5 lg:px-0">
            <h2 class="font-heading text-heading-standard mt-5">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>

            {% form 'storefront_password' %}
              {% if form.errors %}
                <div
                  class="text-sm mt-2 mb-6"
                  x-data
                  x-init="$store.modals.open('password');"
                >
                </div>
                <div
                  class="text-sm mt-2 mb-6 text-scheme-error"
                  x-data
                  x-init="$store.modals.open('password');"
                >
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
              <label for="Password" class="mt-5 block">
                {{ 'general.password_page.login_form_password_label' | t }}
              </label>
              <div class="mt-3 grid grid-cols-[1fr_auto]">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="w-full text-base"
                />
                <button
                  type="submit"
                  class="ml-3 md:ml-5 btn btn--solid"
                >
                  <span class="text-base">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </span>
                </button>
              </div>
            {% endform %}
            <p class="mt-10 text-sm [&_a[href]]:underline-offset-4 [&_a[href]]:underline break-words">
              {{ 'general.password_page.admin_link_html' | t }}
            </p>
          </div>
        </div>
      </div>
    </template>
  </div>
</section>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 20,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "Custom logo width",
      "default": 250
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "<p>Be the first to know when we launch.</p>",
      "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social media sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile image"
        }
      ]
    },
    {
      "name": "Video",
      "type": "video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "name": "Color overlay",
      "type": "color_overlay",
      "settings": [
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "scheme_1",
          "label": "Color scheme"
        },
        {
          "type": "select",
          "id": "overlay_color",
          "label": "Overlay color",
          "options": [
            {
              "value": "bg-scheme-background",
              "label": "Scheme background"
            },
            {
              "value": "bg-scheme-text",
              "label": "Scheme text"
            },
            {
              "value": "bg-scheme-accent",
              "label": "Scheme accent"
            }
          ]
        },
        {
          "type": "header",
          "content": "Custom color"
        },
        {
          "type": "checkbox",
          "id": "enable_custom_color",
          "label": "Enable custom color",
          "default": false
        },
        {
          "type": "color",
          "id": "custom_overlay_color",
          "label": "Custom color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Effects"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 80
        },
        {
          "type": "select",
          "id": "blend_mode",
          "label": "Blend mode",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "multiply",
              "label": "Multiply"
            },
            {
              "value": "screen",
              "label": "Screen"
            },
            {
              "value": "overlay",
              "label": "Overlay"
            },
            {
              "value": "darken",
              "label": "Darken"
            },
            {
              "value": "lighten",
              "label": "Lighten"
            },
            {
              "value": "color-dodge",
              "label": "Color dodge"
            },
            {
              "value": "color-burn",
              "label": "Color burn"
            },
            {
              "value": "hard-light",
              "label": "Hard light"
            },
            {
              "value": "soft-light",
              "label": "Soft light"
            },
            {
              "value": "difference",
              "label": "Difference"
            },
            {
              "value": "exclusion",
              "label": "Exclusion"
            },
            {
              "value": "hue",
              "label": "Hue"
            },
            {
              "value": "saturation",
              "label": "Saturation"
            },
            {
              "value": "color",
              "label": "Color"
            },
            {
              "value": "luminosity",
              "label": "Luminosity"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
